# Project-specific
.workbuddy/
.vs/
x64/
SCL/
dist/
release/
libs/
*.c
*.cpp
*.rc
*.bak
scl_simple.cpp
*.vcxproj
*.vcxproj.user
*.sln
create_repo.ps1
push*.bat
rename.ps1
build*.bat
compile*.bat
package*.bat
start*.bat
!frontend/start-backend.bat
*.gradle
*.xml
COMPILE_ONLINE.md
SPEC.md
FRONTEND_README.md
src/
