1 DIALOGEX 0, 0, 900, 620
STYLE WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_SIZEBOX
CAPTION "SCL - SUPER CRAFT LAUNCHER"
{
    CONTROL "", ID_LIST_VERSIONS, "ListBox", WS_BORDER | WS_VSCROLL | LBS_NOTIFY | WS_CHILD | WS_VISIBLE, 270, 45, 420, 380
    CONTROL "", ID_LIST_ACCOUNTS, "ListBox", WS_BORDER | WS_VSCROLL | LBS_NOTIFY | WS_CHILD | WS_VISIBLE, 20, 100, 230, 200
    CONTROL "", ID_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE, 20, 510, 660, 20
    CONTROL "SCL", -1, "Static", WS_CHILD | WS_VISIBLE, 20, 10, 200, 40
    CONTROL "Minecraft Launcher", -1, "Static", WS_CHILD | WS_VISIBLE, 20, 45, 200, 20
    CONTROL "Accounts", -1, "Static", WS_CHILD | WS_VISIBLE, 20, 80, 200, 20
    CONTROL "Username:", -1, "Static", WS_CHILD | WS_VISIBLE, 20, 310, 80, 20
    CONTROL "", ID_EDIT_NAME, "Edit", WS_BORDER | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE, 100, 308, 150, 25
    CONTROL "Add Account", ID_BTN_LOGIN, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 20, 340, 230, 30
    CONTROL "Versions", -1, "Static", WS_CHILD | WS_VISIBLE, 270, 20, 200, 20
    CONTROL "Refresh", ID_BTN_REFRESH, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 270, 435, 100, 30
    CONTROL "Download", ID_BTN_DOWNLOAD, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 380, 435, 100, 30
    CONTROL "Play", ID_BTN_PLAY, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 490, 435, 100, 30
    CONTROL "Settings", ID_BTN_SETTINGS, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 600, 435, 90, 30
    CONTROL "Ready", ID_STATUS, "Static", WS_CHILD | WS_VISIBLE | SS_LEFT, 20, 485, 500, 20
    CONTROL "v1.0.0", -1, "Static", WS_CHILD | WS_VISIBLE, 700, 485, 150, 20
}
