1 DIALOGEX 0, 0, 520, 440
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SCL - SUPER CRAFT LAUNCHER"
FONT 9, "Segoe UI"
BEGIN
    GROUPBOX        "Account", -1, 10, 10, 240, 155
    LTEXT           "Username:", -1, 20, 28, 60, 14
    EDITTEXT        108, 85, 25, 155, 18, ES_AUTOHSCROLL
    LTEXT           "Auth Type:", -1, 20, 52, 60, 14
    COMBOBOX        110, 85, 49, 155, 80, CBS_DROPDOWNLIST | WS_VSCROLL
    LTEXT           "Server URL:", -1, 20, 76, 60, 14
    EDITTEXT        111, 85, 73, 155, 18, ES_AUTOHSCROLL
    PUSHBUTTON      "Add Account", 103, 20, 100, 105, 24
    PUSHBUTTON      "Remove", 115, 135, 100, 105, 24
    LISTBOX         101, 20, 130, 220, 28, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_BORDER

    GROUPBOX        "Game Versions", -1, 260, 10, 250, 195
    LISTBOX         102, 270, 28, 230, 105, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_BORDER | LBS_NOTIFY
    PUSHBUTTON      "Refresh", 104, 270, 140, 72, 24
    PUSHBUTTON      "Download", 105, 350, 140, 72, 24
    PUSHBUTTON      "Java", 112, 428, 140, 72, 24
    PUSHBUTTON      "Play!", 106, 270, 172, 230, 26, BS_DEFPUSHBUTTON

    LTEXT           "Status:", -1, 10, 390, 40, 14
    LTEXT           "Ready", 107, 55, 390, 380, 14, SS_LEFT | SS_NOPREFIX
    CONTROL         "", 109, PROGRESS_CLASSA, WS_BORDER | PBS_SMOOTH, 10, 412, 500, 18
END
